In [6]:
import pandas as pd
import os

# read data from data/000001.csv to a dataframe
df = pd.read_csv(os.path.join('data', '000001.csv'), parse_dates=['trade_time'])

# find and open the csv file with 000001 in the file name from backward_adjust_factor folder, and read data to a dataframe
# the file names in the folder may contain other characters, like 000001.SZ.csv, so we need to find the file name with 000001 in it
backward_adjust_factor_file_name = [f for f in os.listdir('backward_adjust_factor') if '000001' in f][0]
baf_df = pd.read_csv(os.path.join('backward_adjust_factor', backward_adjust_factor_file_name), parse_dates=['date'])

#for each line other than the last line in baf_df, divide the hfq_factor by the next line's hfq_factor
#the last line's hfq_factor is 1, so we don't need to divide it
#save the result to a new column named 'hfq_factor_divided'
for i in range(len(baf_df) - 1):
    baf_df.loc[i, 'hfq_factor_divided'] = baf_df.loc[i, 'hfq_factor'] / baf_df.loc[i + 1, 'hfq_factor']

         date  hfq_factor  hfq_factor_divided
0  2023-06-14  126.630491            1.024815
1  2022-07-22  123.564247            1.017838
2  2021-05-14  121.398786            1.007864
3  2020-05-28  120.451592            1.017055
4  2019-06-26  118.431711            1.010915
5  2018-07-12  117.153037            1.015733
6  2017-07-21  115.338365            1.014613
7  2016-06-16  113.677157            1.217848
8  2015-04-13   93.342665            1.210639
9  2014-06-12   77.101984            1.216523
10 2013-06-20   63.378966            1.614263
11 2012-10-19   39.261853            1.007457
12 2008-10-31   38.971239            1.303862
13 2007-06-18   29.889083            1.100345
14 2003-09-29   27.163370            1.016322
15 2002-07-23   26.727127            1.010453
16 2000-11-06   26.450639            1.144776
17 1999-10-18   23.105513            1.027186
18 1997-08-25   22.493986            1.509563
19 1996-05-27   14.900989            2.000000
20 1995-09-25    7.450495            1.237618
21 1994-07-11    6.020030            1.600000
22 1993-05-24    3.762519            1.904488
23 1992-03-23    1.975606            1.509302
24 1991-08-19    1.308953            1.308953
25 1991-04-03    1.000000            1.000000
26 1900-01-01    1.000000                 NaN